In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('play_tennis.csv')

In [3]:
data.drop('day',axis=1,inplace=True)

In [4]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

#### P(YES)
#### P(NO)

In [7]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [8]:
py = 9/14
pn = 5/14

In [9]:
py , pn

(0.6428571428571429, 0.35714285714285715)

#### Outlook

In [10]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [20]:
POvercastNo = 0
PRainNo = 2/5
PSunnyNo = 3/5

POvercastYes = 4/9
PRainYes = 3/9
PSunnyYes = 2/9

#### temp

In [12]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

#### humidity

In [14]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

#### wind

In [17]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [18]:
PStrongNo = 3/5
PWeakNo = 2/5

PStronYes = 3/9
PWeakYes = 6/9

In [23]:
#Probelm-1:

# outlook-sunny , temp-hot , humidity-high , wind-weak

PYes = py*PSunnyYes*PHotYes*PHighYes*PWeakYes
PYes

0.007054673721340388

In [25]:
PNo = pn*PSunnyNo*PHotNo*PHighNo*PWeakNo
PNo

0.02742857142857143

### PNo > PYes   ----------> NO PLAY