In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Mobiles_info.csv')

In [3]:
#Q1 how the big is data
df.shape

(586, 11)

In [4]:
#Q2 How does data look like
df.head()

,name,ratings,number of rating,number of reviews,ram,rom,expandable,display,camera,battery,price
0,Cellecor E3,3.7,56,2,32.0,32.0,32.0,1.80,0.8,1000.0,"1,061"
1,"REDMI 10 (Caribbean Green, 64 GB)",4.3,"2,22,897","13,810",4.0,64.0,1.0,6.70,50.0,6000.0,"9,499"
2,"REDMI 10 (Midnight Black, 64 GB)",4.3,"2,22,897","13,810",4.0,64.0,1.0,6.70,50.0,6000.0,"9,499"
3,"MOTOROLA G32 (Satin Silver, 128 GB)",4.1,"9,683",799,8.0,128.0,NaN,6.55,50.0,5000.0,"11,999"
4,"realme C33 2023 (Night Sea, 64 GB)",4.5,"6,542",184,4.0,64.0,1.0,6.50,50.0,5000.0,"9,999"

In [5]:
#Q3 datatype of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               586 non-null    object
 1   ratings            580 non-null    float64
 2   number of rating   580 non-null    object
 3   number of reviews  580 non-null    object
 4   ram                582 non-null    float64
 5   rom                559 non-null    float64
 6   expandable         331 non-null    float64
 7   display            585 non-null    float64
 8   camera             586 non-null    float64
 9   battery            565 non-null    float64
 10  price              583 non-null    object
dtypes: float64(7), object(4)
memory usage: 50.5+ KB

In [6]:
#Q4 Are there any missing values
df.isnull().sum()

name                   0
ratings                6
number of rating       6
number of reviews      6
ram                    4
rom                   27
expandable           255
display                1
camera                 0
battery               21
price                  3
dtype: int64

In [7]:
#Q5 How does data look like mathematically
df.describe()

,ratings,ram,rom,expandable,display,camera,battery
count,580.000000,582.000000,559.000000,331.000000,585.000000,586.000000,565.000000
mean,4.172931,16.772509,82.889088,117.190332,5.677402,87.959471,4041.674336
std,0.266381,39.269317,56.693117,183.741032,7.369580,274.369302,1750.048739
min,2.800000,0.000000,0.000000,1.000000,0.660000,0.000000,0.000000
25%,4.100000,4.000000,32.000000,1.000000,2.800000,8.000000,3000.000000
50%,4.200000,6.000000,64.000000,2.000000,6.520000,48.000000,5000.000000
75%,4.300000,9.500000,128.000000,256.000000,6.600000,50.000000,5000.000000
max,4.700000,512.000000,256.000000,512.000000,177.000000,3000.000000,7000.000000

In [8]:
#Q6 Are there any duplicate values
df.duplicated().sum()

0

In [9]:
#Q7 How is the co releation between the columns

In [12]:
df.corr()['battery']

C:\Users\Mrunmay\AppData\Local\Temp\ipykernel_18116\285839457.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['battery']

ratings       0.592525
ram          -0.385563
rom           0.432192
expandable    0.222843
display       0.176874
camera       -0.379477
battery       1.000000
Name: battery, dtype: float64