In [5]:
import mysql.connector
import pandas as pd

In [4]:
conn = mysql.connector.connect(user='root',host='localhost',password='',database='csv_db 7')

In [8]:
df = pd.read_sql_query('SELECT * FROM chess_game',conn)

C:\Users\Mrunmay\AppData\Local\Temp\ipykernel_12936\959470952.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * FROM chess_game',conn)

DatabaseError: Execution failed on sql 'SELECT * FROM chess_game': 1146 (42S02): Table 'csv_db 7.chess_game' doesn't exist